<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div>
            <form action="" method="post">
                <table border="1">
                    <tr>
                        <td>模块</td>
                        <td><input type="text" name="module" value="{$module}"/></td>
                    </tr>
                    <tr>
                        <td>模型ID（不带Model后缀）</td>
                        <td><input type="text" name="name" value="{$name}"/></td>
                    </tr>
                    <tr>
                        <td>标题</td>
                        <td><input type="text" name="title" value="{$title}"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value=" 创建 "/></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
