<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>ECSHOP 管理中心 - 添加新商品 </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="__CSS__/general.css" rel="stylesheet" type="text/css" />
        <link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
        <css href="__EXT__/ztree/css/zTreeStyle/zTreeStyle.css" />
        <css href="__CSS__/common.css" />
        <!--<css href="__EXT__/ztree/css/demo.css" />-->
        <style type='text/css'>
            .ztree{
                margin-top: 10px;
                border: 1px solid #617775;
                background: #f0f6e4;
                width: 220px;
                /* height: 360px; */
                overflow-y: scroll;
                overflow-x: auto;
            }
            
            .upload-img-box{
                width: 90px;
                /*position: relative;*/
            }
            .upload-pre-item{
                /*position: absolute;*/
                /*float:left;*/
                position:relative;
            }

            .upload-pre-item a{
                    postion:absolute;
                    top:0px;
                    right:0px;
                    background:white;
                    color:red;
                    display:block;
            }
        </style>
    </head>
    <body>
        <h1>
            <span class="action-span"><a href="{:U('index')}">商品列表</a>
            </span>
            <span class="action-span1"><a href="{:U('index/main')}">ECSHOP 管理中心</a></span>
            <span id="search_id" class="action-span1"> - 添加新商品 </span>
        </h1>
        <div style="clear:both"></div>

        <div class="tab-div">
            <div id="tabbar-div">
                <p>
                    <span class="tab-front">通用信息</span>
                    <span class="tab-back">详细描述</span>
                    <span class="tab-back">商品属性</span>
                    <span class="tab-back">商品相册</span>
                    <span class="tab-back">关联文章</span>
                </p>
            </div>
            <div >
                <form enctype="multipart/form-data" action="{:U()}" method="post" id="tabbody-div">
                    <table width="90%" id="general-table" align="center">
                        <tr>
                            <td class="label">商品名称：</td>
                            <td><input type="text" name="name" value="{$row.name}" size="30" />
                                <span class="require-field">*</span></td>
                        </tr>
                        <tr>
                            <td class="label">商品分类：</td>
                            <td>
                                <input type="text" class="cname" value="请选择" readonly='readonly'/>
                                <input type="hidden" name='goods_category_id' class='parent_id' value="{$row.goods_category_id|default=0}"/>
                                <ul id='treeDemo' class='ztree'></ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">商品品牌：</td>
                            <td>
                                {:arr2select($brands,'id','name','brand_id',$row['brand_id'])}
                            </td>
                        </tr>
                        <tr>
                            <td class="label">供应商：</td>
                            <td>
                                {:arr2select($suppliers,'id','name','supplier_id',$row['supplier_id'])}
                            </td>
                        </tr>
                        <tr>
                            <td class="label">商品图片：</td>
                            <td>
                                <input type="file" id="logo" size="35" />
                                <!--<div class="upload-img-box">-->
                                    <div class="upload-pre-item">
                                        <input type="hidden" name="logo" value="{$row.logo}" class="logo-input" />
                                        <img src="{$row.logo}-min" <empty name="row.logo">style="display: none;"</empty> class="logo-img"/>
                                    </div>
                                <!--</div>-->
                            </td>
                        </tr>
                        <tr>
                            <td class="label">本店售价：</td>
                            <td>
                                <input type="text" name="shop_price" value="{$row.shop_price}" size="20"/>
                                <span class="require-field">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">商品数量：</td>
                            <td>
                                <input type="text" name="stock" size="8" value="{$row.stock|default=50}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">是否上架：</td>
                            <td>
                                <input type="radio" class="is-on-sale" name="is_on_sale" value="1"/> 是
                                <input type="radio" class="is-on-sale" name="is_on_sale" value="0"/> 否
                            </td>
                        </tr>
                        <tr>
                            <td class="label">商品状态：</td>
                            <td>
                                <input type="checkbox" name="goods_status[]" class='goods_status' value="1" /> 精品 
                                <input type="checkbox" name="goods_status[]" class='goods_status' value="2" /> 新品 
                                <input type="checkbox" name="goods_status[]" class='goods_status' value="4" /> 热销
                            </td>
                        </tr>
                        <tr>
                            <td class="label">推荐排序：</td>
                            <td>
                                <input type="text" name="sort" size="5" value="{$row.sort|default=100}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">市场售价：</td>
                            <td>
                                <input type="text" name="market_price" value="{$row.market_price}" size="20" />
                            </td>
                        </tr>
                    </table>


                    <!--详细描述-->
                    <table width="90%" id="general-table" align="center" style="display: none;">
                        <tr>
                            <td colspan="2">
                                <textarea id='editor' name='content'>{$row.GoodsIntro.content}</textarea>
                            </td>
                        </tr>
                    </table>


                    <!--商品属性-->
                    <table width="90%" id="general-table" align="center" style="display: none;">
                        <tr>
                            <td class="label">商品名称：</td>
                            <td><input type="text" name="goods_name" value=""size="30" />
                                <span class="require-field">*</span></td>
                        </tr>
                        <tr>
                            <td class="label">商品货号： </td>
                            <td>
                                <input type="text" name="goods_sn" value="" size="20"/>
                                <span id="goods_sn_notice"></span><br />
                                <span class="notice-span"id="noticeGoodsSN">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
                            </td>
                        </tr>
                    </table>


                    <!--商品相册-->
                    <table width="90%" id="general-table" align="center" style="display: none;">
                        <tr>
                            <td>
                                <div class="gallery-img-box">
                                    <foreach name="row.GoodsGallery" item="gallery">
                                    <div class="upload-pre-item" style="display:inline-block">
                                        <img src="{$gallery.path}-min" class="logo-img">
                                        <a href="#" gid="{$gallery.gid}">×</a>
                                    </div>
                                    </foreach>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="file" id="gallery-img" size="35" /></td>
                        </tr>
                    </table>



                    <!--关联文章-->
                    <table width="90%" id="general-table" align="center" style="display: none;">
                        <tr>
                            <td colspan="3">
                                <img src="__IMG__/icon_search.gif" width="26" height="22" border="0" alt="SEARCH">
                                文章标题 <input type="text" class="keyword" name="article_title">
                                <input type="button" value=" 搜索 " class='search_article' class="button">
                              </td>
                        </tr>
                        <tr>
                            <td style='width:40%;height: 200px'>
                                <div id="article_list">
                                    <foreach name="articles" item="article">
                                    <input type="hidden" name="article_ids[]" value="{$article.id}"/>
                                    </foreach>
                                </div>
                                <select multiple='multiple' style='width:100%;height: 200px' class="houxuan">
                                </select>
                            </td>
                            <td align='center'>
                                <input type="button" class="select_all" value=">>"/><br /><br />
                                <input type="button" class="select_checked" value=">"/><br /><br />
                                <input type="button" class="remove_checked" value="<"/><br /><br />
                                <input type="button" class="remove_all" value="<<"/>
                            </td>
                            <td style='width:40%;height: 200px'>
                                <select multiple='multiple' style='width:100%;height: 200px' class="xuanze">
                                    <foreach name="articles" item="article">
                                        <option value="{$article.id}">{$article.name}</option>
                                    </foreach>
                                </select>
                            </td>
                        </tr>
                    </table>



                    <div class="button-div">
                        <input type='hidden' name='id' value='{$row.id}'/>
                        <input type="submit" value=" 确定 " class="button"/>
                        <input type="reset" value=" 重置 " class="button" />
                    </div>
                </form>
            </div>
        </div>

        <div id="footer">
            共执行 9 个查询，用时 0.025161 秒，Gzip 已禁用，内存占用 3.258 MB<br />
            版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。
        </div>
        <js href='__JS__/jquery.min.js'/>
        <js href='__EXT__/uploadify/jquery.uploadify.min.js'/>
        <js href='__EXT__/ue/my.config.js'/>
        <js href='__EXT__/ue/ueditor.all.min.js'/>
        <js href="__EXT__/ztree/js/jquery.ztree.core-3.5.js" />
        <js href="__EXT__/layer/layer.js" />
        <script type='text/javascript'>
            //当网页加载完后自动执行
            $(function() {
                //1.标签的切换功能
                //1.1在所有的标签上添加事件
                $('#tabbar-div span').click(function() {
                    //1.2隐藏所有的标签
                    $('#tabbar-div span').removeClass('tab-front');
                    $('#tabbar-div span').addClass('tab-back');

                    //1.3显示当前点击的标签
                    $(this).removeClass('tab-back');
                    $(this).addClass('tab-front');
//                     alert(1);

                    //2.对关联的table进行展示和隐藏
                    //2.1隐藏所有的table
                    $('#tabbody-div>table').hide();
                    //2.2显示选中的标签对应的table
                    //2.2.1通过索引位置来添加
                    //找到span的索引位置
                    var index = $(this).index();
                    console.debug(index);
                    $('#tabbody-div>table').eq(index).show();
                });


                //初始化富文本编辑器
                UE.getEditor('editor');


                //商品分类使用ztree展示

                var setting = {
                    data: {
                        simpleData: {
                            enable: true,
                            pIdKey: 'parent_id',
                        }
                    },
                    callback: {
                        onClick: function(event, ele_obj, ztree_node, click_type) {
                            $('.cname').val(ztree_node.name);//显示用户点击的是什么分类
                            $('.parent_id').val(ztree_node.id);//将父级分类放到隐藏域中
//                      alert(ztree_node.id+ztree_node.name);
                        },
                        beforeClick: function(tree_id, tree_node, flag) {
                            if (tree_node.isParent) {
//                                alert('不能选择枝干节点');
                                layer.msg('只能选择叶子节点', function() {
                                });
                                return false;
                            } else {
                                return true;
                            }
                        },
                    }

                };
                var zNodes = {$categorys};

                //如果是新增，就展开所有，如果是编辑，只展开到父级分类就可以了
                var tree_obj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
                        <empty name = "row.id" >
                        tree_obj.expandAll(true); //使用ztree展示树状结构，并展开所有的节点。
                        <else / >
                            //找到分类节点
                            var cartery_node = tree_obj.getNodeByParam('id', {$row.goods_category_id});
                            //选中这个节点
                            tree_obj.selectNode(cartery_node);
                            $('.cname').val(cartery_node.name);
                            $('.parent_id').val(cartery_node.id);
                        </empty>

                //商品状态回显
                var status = {$row.goods_status|default=0};
                var status_array = [];
                if (status & 1) {
                    status_array.push(1);
                }
                if (status & 2) {
                    status_array.push(2);
                }
                if (status & 4) {
                    status_array.push(4);
                }
                $('.goods_status').val(status_array);


                //回显商品是否上架
                $('.is-on-sale').val([{$row.is_on_sale|default=1}]);
                    //使用uploadify插件完成上传
                    $("#logo").uploadify({
                    height: 30,
                    swf: '__EXT__/uploadify/uploadify.swf',
                    uploader: '{:U("Upload/index")}', //'/uploadify/uploadify.php'
                    width: 120,
                    buttonText: 'LOGO',
                    fileObjName: 'logo',
//                    multi: false, //是否允许批量上传
                    fileTypeExts: '*.jpg;*.png;*.gif',
                    //如果要重写错误事件，我们需要使用overrideEvents像下面这样
                    overrideEvents: ['onDialogClose', 'onUploadSuccess', 'onUploadError', 'onSelectError'],
                    onSelectError: function(file, errorCode, errorMsg) {
                        var msgText = "上传失败\n";
                        switch (errorCode) {
                            case SWFUpload.QUEUE_ERROR.QUEUE_LIMIT_EXCEEDED:
                                //this.queueData.errorMsg = "每次最多上传 " + this.settings.queueSizeLimit + "个文件";
                                msgText += "每次最多上传 " + this.settings.queueSizeLimit + "个文件";
                                break;
                            case SWFUpload.QUEUE_ERROR.FILE_EXCEEDS_SIZE_LIMIT:
                                msgText += "文件大小超过限制( " + this.settings.fileSizeLimit + " )";
                                break;
                            case SWFUpload.QUEUE_ERROR.ZERO_BYTE_FILE:
                                msgText += "文件大小为0";
                                break;
                            case SWFUpload.QUEUE_ERROR.INVALID_FILETYPE:
                                msgText += "文件格式不正确，仅限 " + this.settings.fileTypeExts;
                                break;
                            default:
                                msgText += "错误代码：" + errorCode + "\n" + errorMsg;
                        }
                        layer.msg(msgText, function() {
                        });
//                        console.debug(arguments);
                    },
                    onUploadError: function(file, code, msg, errorString) {
                    },
                    onUploadSuccess: function(file, data, response) {
//                        return;
                        data = $.parseJSON(data);
                        if (data.status) {
                            var file_info = $.parseJSON(data.file);
                            var img_src = file_info.url;
                            //将隐藏的图片预览给显示出来
                            $('.logo-img').attr('src', img_src + '-min').show();
                            $('.logo-input').val(img_src);
                            layer.msg(data.msg, {icon: 1});
                        } else {
                            layer.msg(data.msg, {icon: 2});

                        }
                    },
                });
                
                //相册：使用uploadify插件完成上传
                $("#gallery-img").uploadify({
                    height: 30,
                    swf: '__EXT__/uploadify/uploadify.swf',
                    uploader: '{:U("Upload/index")}', //'/uploadify/uploadify.php'
                    width: 120,
                    buttonText: 'LOGO',
                    fileObjName: 'logo',
//                    multi: false, //是否允许批量上传
                    fileTypeExts: '*.jpg;*.png;*.gif',
                    //如果要重写错误事件，我们需要使用overrideEvents像下面这样
                    overrideEvents: ['onDialogClose', 'onUploadSuccess', 'onUploadError', 'onSelectError'],
                    onSelectError: function(file, errorCode, errorMsg) {
                        var msgText = "上传失败\n";
                        switch (errorCode) {
                            case SWFUpload.QUEUE_ERROR.QUEUE_LIMIT_EXCEEDED:
                                //this.queueData.errorMsg = "每次最多上传 " + this.settings.queueSizeLimit + "个文件";
                                msgText += "每次最多上传 " + this.settings.queueSizeLimit + "个文件";
                                break;
                            case SWFUpload.QUEUE_ERROR.FILE_EXCEEDS_SIZE_LIMIT:
                                msgText += "文件大小超过限制( " + this.settings.fileSizeLimit + " )";
                                break;
                            case SWFUpload.QUEUE_ERROR.ZERO_BYTE_FILE:
                                msgText += "文件大小为0";
                                break;
                            case SWFUpload.QUEUE_ERROR.INVALID_FILETYPE:
                                msgText += "文件格式不正确，仅限 " + this.settings.fileTypeExts;
                                break;
                            default:
                                msgText += "错误代码：" + errorCode + "\n" + errorMsg;
                        }
                        layer.msg(msgText, function() {
                        });
//                        console.debug(arguments);
                    },
                    onUploadError: function(file, code, msg, errorString) {
                    },
                    onUploadSuccess: function(file, data, response) {
//                        return;
                        data = $.parseJSON(data);
                        if (data.status) {
                            var file_info = $.parseJSON(data.file);
                            var img_src = file_info.url;
                            //将图片添加到相册的图片列表中
                            
                            var html = '<div class="upload-pre-item" style="display:inline-block"> \
                                        <input type="hidden" name="path[]" value="'+ img_src +'" class="logo-input"> \
                                        <img src="'+ img_src +'-min" class="logo-img"> \
                                        <a href="#">×</a> \
                                    </div>';
                            $(html).appendTo('.gallery-img-box');
                            layer.msg(data.msg, {icon: 1});
                            
                        } else {
                            layer.msg(data.msg, {icon: 2});
                        }
                    },
                });
                
                
                //搜索相关文章
                $('.search_article').click(function(){
                    var url = '{:U("Article/search")}';
                    var keyword = $('.keyword').val();
                    if(keyword){
                        var data = {keyword:keyword};
                        $.getJSON(url,data,function(response){
                            var html = '';
                            for(var i in response){
                                html += '<option value="'+response[i].id+'">'+response[i].name+'</option>';
                            }
                            $('.houxuan').html(html);
                        });
                    }
                });
                
                //候选区双击到选择区
                $('.houxuan').on('dblclick','option',function(){
//                    $(this).appendTo($('.xuanze'));
                    move($(this),$('.xuanze'));
                });
                //双击移除选择区到候选区区
                $('.xuanze').on('dblclick','option',function(){
//                    $(this).appendTo($('.houxuan'));
                    move($(this),$('.houxuan'));
                });
                
                //全选
                $('.select_all').click(function(){
//                      $('.houxuan option').appendTo($('.xuanze'));
                      move($('.houxuan option'),$('.xuanze'));
                });
                
                //全部删除
                $('.remove_all').click(function(){
//                      $('.xuanze option').appendTo($('.houxuan'));
                      move($('.xuanze option'),$('.houxuan'),true);
                });
                
                //选择选中的
//                $('.select_checked').click(function(){
//                      $('.houxuan option:selected').appendTo($('.xuanze'));
//                });
                //选择选中的
                $('.select_checked').click(function(){
                    move($('.houxuan option:selected'),$('.xuanze'));
//                      $('.houxuan option:selected').appendTo($('.xuanze'));
                });
                
                //删除选中的
                //选择选中的
                $('.remove_checked').click(function(){
//                      $('.xuanze option:selected').appendTo($('.houxuan'));
                      move($('.xuanze option:selected'),$('.houxuan'),true);
                });
                
                /**
                 * options 要移动的option节点列表
                 * target 要移动到的目标位置，是一个select节点
                 */
                function move(options,target){
                    var is_remove = arguments[2];//获取第三个参数
                    //遍历所有要移动的节点
                    options.each(function(){
                        var sopt = $(this);//当前option对象
                        var exist = false;//是否已存在节点标识
                        //要移动目标中所有的节点
                        target.find('option').each(function(){
                            var topt = $(this);//目标节点中的每一个option
                            if(sopt.val() == topt.val()){
                                exist = true;
                                sopt.remove();
                                return;
                            }
                        });
                        if(!exist){
                            sopt.appendTo(target);
                        }
                        //如果是移除文章，需要找到对应的隐藏域，然后删除节点
                        if(is_remove){
                            var str = '#article_list input[value='+sopt.val()+']';
                            $(str).remove();
                        }else{
                            var html = '<input type="hidden" name="article_ids[]" value="'+sopt.val()+'"/>';
                            $(html).appendTo($('#article_list'));
                        }
                    });
                }
                
                
                //删除相册图片:删除节点  如果文件已经在数据表中存在，就移除
                $('.gallery-img-box').on('click','a',function(){
                    var ele = $(this);
                    //是否存在id属性，如果存在说明是已经入库的
                    if(ele.attr('gid')){
                        //ajax操作
                        var url = '{:U("GoodsGallery/remove")}';
                        var data = {gid:ele.attr('gid')};
                        //需要删除数据库中的记录，并且移除节点
                        $.getJSON(url,data,function(response){
                            console.debug(response);
                            if(response.status){
                                ele.parent().remove();
                                layer.msg(response.msg,{icon:1});
                            } else{
                                layer.msg(response.msg,function(){ });
                            }
                        });
                    }else{ //没有入库的只需要移除节点即可
                        ele.parent().remove();
                        layer.msg('删除成功',{icon:1});
                    }
                });
                
                
            });

        </script>
    </body>
</html>