<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>ECSHOP 管理中心 - 添加新商品 </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="__CSS__/general.css" rel="stylesheet" type="text/css" />
        <link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
        <css href="__EXT__/ztree/css/zTreeStyle/zTreeStyle.css" />
        <css href="__CSS__/common.css" />
        <!--<css href="__EXT__/ztree/css/demo.css" />-->
        <style type='text/css'>
            .ztree{
                margin-top: 10px;
                border: 1px solid #617775;
                background: #f0f6e4;
                width: 220px;
                /* height: 360px; */
                overflow-y: scroll;
                overflow-x: auto;
            }
        </style>
    </head>
    <body>
        <h1>
            <span class="action-span"><a href="__GROUP__/Goods/goodsList">商品列表</a>
            </span>
            <span class="action-span1"><a href="__GROUP__">ECSHOP 管理中心</a></span>
            <span id="search_id" class="action-span1"> - 添加新商品 </span>
        </h1>
        <div style="clear:both"></div>

        <div class="tab-div">
            <div id="tabbar-div">
                <p>
                    <span class="tab-front">通用信息</span>
                    <span class="tab-back">详细描述</span>
                    <span class="tab-back">商品属性</span>
                    <span class="tab-back">商品相册</span>
                    <span class="tab-back">关联文章</span>
                </p>
            </div>
            <div >
                <form enctype="multipart/form-data" action="{:U()}" method="post" id="tabbody-div">
                    <table width="90%" id="general-table" align="center">
                        <tr>
                            <td class="label">商品名称：</td>
                            <td><input type="text" name="name" value="{$row.name}" size="30" />
                                <span class="require-field">*</span></td>
                        </tr>
                        <tr>
                            <td class="label">商品分类：</td>
                            <td>
                                <input type="text" class="cname" value="请选择" readonly='readonly'/>
                                <input type="hidden" name='goods_category_id' class='parent_id' value="{$row.goods_category_id|default=0}"/>
                                <ul id='treeDemo' class='ztree'></ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">商品品牌：</td>
                            <td>
                                {:arr2select($brands,'id','name','brand_id',$row['brand_id'])}
                            </td>
                        </tr>
                        <tr>
                            <td class="label">供应商：</td>
                            <td>
                                {:arr2select($suppliers,'id','name','supplier_id',$row['supplier_id'])}
                            </td>
                        </tr>
                        <tr>
                            <td class="label">商品图片：</td>
                            <td>
                                <input type="file" name="logo" id="logo" size="35" />
                                <input type="hidden" name="logo" value="{$row.logo}" class="logo-input" />
                                <div>
                                    <img src="{$row.logo}-min" <empty name="row.logo">style="display: none;"</empty> class="logo-img"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">本店售价：</td>
                            <td>
                                <input type="text" name="shop_price" value="{$row.shop_price}" size="20"/>
                                <span class="require-field">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">商品数量：</td>
                            <td>
                                <input type="text" name="stock" size="8" value="{$row.stock|default=50}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">是否上架：</td>
                            <td>
                                <input type="radio" class="is-on-sale" name="is_on_sale" value="1"/> 是
                                <input type="radio" class="is-on-sale" name="is_on_sale" value="0"/> 否
                            </td>
                        </tr>
                        <tr>
                            <td class="label">商品状态：</td>
                            <td>
                                <input type="checkbox" name="goods_status[]" class='goods_status' value="1" /> 精品 
                                <input type="checkbox" name="goods_status[]" class='goods_status' value="2" /> 新品 
                                <input type="checkbox" name="goods_status[]" class='goods_status' value="4" /> 热销
                            </td>
                        </tr>
                        <tr>
                            <td class="label">推荐排序：</td>
                            <td>
                                <input type="text" name="sort" size="5" value="{$row.sort|default=100}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">市场售价：</td>
                            <td>
                                <input type="text" name="market_price" value="{$row.market_price}" size="20" />
                            </td>
                        </tr>
                        <!--                        <tr>
                                                    <td class="label">商品关键词：</td>
                                                    <td>
                                                        <input type="text" name="keywords" value="" size="40" /> 用空格分隔
                                                    </td>
                                                </tr>-->

                        <!--                        <tr>
                                                    <td class="label">商品简单描述：</td>
                                                    <td>
                                                        <textarea name="goods_brief" cols="40" rows="3"></textarea>
                                                    </td>
                                                </tr>-->
                    </table>


                    <!--详细描述-->
                    <table width="90%" id="general-table" align="center" style="display: none;">
                        <tr>
                            <td colspan="2">
                                <textarea id='editor' name='content'>{$row.GoodsIntro.content}</textarea>
                            </td>
                        </tr>
                    </table>


                    <!--商品属性-->
                    <table width="90%" id="general-table" align="center" style="display: none;">
                        <tr>
                            <td class="label">商品名称：</td>
                            <td><input type="text" name="goods_name" value=""size="30" />
                                <span class="require-field">*</span></td>
                        </tr>
                        <tr>
                            <td class="label">商品货号： </td>
                            <td>
                                <input type="text" name="goods_sn" value="" size="20"/>
                                <span id="goods_sn_notice"></span><br />
                                <span class="notice-span"id="noticeGoodsSN">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
                            </td>
                        </tr>
                    </table>


                    <!--商品相册-->
                    <table width="90%" id="general-table" align="center" style="display: none;">
                        <tr>
                            <td class="label">商品名称：</td>
                            <td><input type="text" name="goods_name" value=""size="30" />
                                <span class="require-field">*</span></td>
                        </tr>
                        <tr>
                            <td class="label">商品货号： </td>
                            <td>
                                <input type="text" name="goods_sn" value="" size="20"/>
                                <span id="goods_sn_notice"></span><br />
                                <span class="notice-span"id="noticeGoodsSN">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
                            </td>
                        </tr>
                    </table>



                    <!--关联文章-->
                    <table width="90%" id="general-table" align="center" style="display: none;">
                        <tr>
                            <td class="label">商品名称：</td>
                            <td><input type="text" name="goods_name" value=""size="30" />
                                <span class="require-field">*</span></td>
                        </tr>
                        <tr>
                            <td class="label">商品货号： </td>
                            <td>
                                <input type="text" name="goods_sn" value="" size="20"/>
                                <span id="goods_sn_notice"></span><br />
                                <span class="notice-span"id="noticeGoodsSN">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
                            </td>
                        </tr>
                    </table>



                    <div class="button-div">
                        <input type='hidden' name='id' value='{$row.id}'/>
                        <input type="submit" value=" 确定 " class="button"/>
                        <input type="reset" value=" 重置 " class="button" />
                    </div>
                </form>
            </div>
        </div>

        <div id="footer">
            共执行 9 个查询，用时 0.025161 秒，Gzip 已禁用，内存占用 3.258 MB<br />
            版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。
        </div>
        <js href='__JS__/jquery.min.js'/>
        <js href='__EXT__/uploadify/jquery.uploadify.min.js'/>
        <js href='__EXT__/ue/my.config.js'/>
        <js href='__EXT__/ue/ueditor.all.min.js'/>
        <js href="__EXT__/ztree/js/jquery.ztree.core-3.5.js" />
        <js href="__EXT__/layer/layer.js" />
        <script type='text/javascript'>
            //当网页加载完后自动执行
            $(function() {
                //1.标签的切换功能
                //1.1在所有的标签上添加事件
                $('#tabbar-div span').click(function() {
                    //1.2隐藏所有的标签
                    $('#tabbar-div span').removeClass('tab-front');
                    $('#tabbar-div span').addClass('tab-back');

                    //1.3显示当前点击的标签
                    $(this).removeClass('tab-back');
                    $(this).addClass('tab-front');
//                     alert(1);

                    //2.对关联的table进行展示和隐藏
                    //2.1隐藏所有的table
                    $('#tabbody-div>table').hide();
                    //2.2显示选中的标签对应的table
                    //2.2.1通过索引位置来添加
                    //找到span的索引位置
                    var index = $(this).index();
                    console.debug(index);
                    $('#tabbody-div>table').eq(index).show();
                });


                //初始化富文本编辑器
                UE.getEditor('editor');


                //商品分类使用ztree展示

                var setting = {
                    data: {
                        simpleData: {
                            enable: true,
                            pIdKey: 'parent_id',
                        }
                    },
                    callback: {
                        onClick: function(event, ele_obj, ztree_node, click_type) {
                            $('.cname').val(ztree_node.name);//显示用户点击的是什么分类
                            $('.parent_id').val(ztree_node.id);//将父级分类放到隐藏域中
//                      alert(ztree_node.id+ztree_node.name);
                        },
                        beforeClick: function(tree_id, tree_node, flag) {
                            if (tree_node.isParent) {
//                                alert('不能选择枝干节点');
                                layer.msg('只能选择叶子节点', function() {
                                });
                                return false;
                            } else {
                                return true;
                            }
                        },
                    }

                };
                var zNodes = {$categorys};

                //如果是新增，就展开所有，如果是编辑，只展开到父级分类就可以了
                var tree_obj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
                        <empty name = "row.id" >
                        tree_obj.expandAll(true); //使用ztree展示树状结构，并展开所有的节点。
                        <else / >
                            //找到分类节点
                            var cartery_node = tree_obj.getNodeByParam('id', {$row.goods_category_id});
                            //选中这个节点
                            tree_obj.selectNode(cartery_node);
                            $('.cname').val(cartery_node.name);
                            $('.parent_id').val(cartery_node.id);
                        </empty>

                        //商品状态回显
                        var status = {$row.goods_status | default = 0};
                var status_array = [];
                if (status & 1) {
                    status_array.push(1);
                }
                if (status & 2) {
                    status_array.push(2);
                }
                if (status & 4) {
                    status_array.push(4);
                }
                $('.goods_status').val(status_array);
                console.debug(status_array);


                //回显商品是否上架
                $('.is-on-sale').val([{$row.is_on_sale | default = 1}]);
                        //使用uploadify插件完成上传
                        $("#logo").uploadify({
                    height: 30,
                    swf: '__EXT__/uploadify/uploadify.swf',
                    uploader: '{:U("Upload/index")}', //'/uploadify/uploadify.php'
                    width: 120,
                    buttonText: 'LOGO',
                    buttonClass: 'kunx',
                    fileObjName: 'logo',
                    multi: false, //是否允许批量上传
                    formData: {name: 'kunx'},
                    fileTypeExts: '*.jpg;*.png;*.gif',
                    //如果要重写错误事件，我们需要使用overrideEvents像下面这样
                    overrideEvents: ['onDialogClose', 'onUploadSuccess', 'onUploadError', 'onSelectError'],
                    onSelectError: function(file, errorCode, errorMsg) {
                        var msgText = "上传失败\n";
                        switch (errorCode) {
                            case SWFUpload.QUEUE_ERROR.QUEUE_LIMIT_EXCEEDED:
                                //this.queueData.errorMsg = "每次最多上传 " + this.settings.queueSizeLimit + "个文件";
                                msgText += "每次最多上传 " + this.settings.queueSizeLimit + "个文件";
                                break;
                            case SWFUpload.QUEUE_ERROR.FILE_EXCEEDS_SIZE_LIMIT:
                                msgText += "文件大小超过限制( " + this.settings.fileSizeLimit + " )";
                                break;
                            case SWFUpload.QUEUE_ERROR.ZERO_BYTE_FILE:
                                msgText += "文件大小为0";
                                break;
                            case SWFUpload.QUEUE_ERROR.INVALID_FILETYPE:
                                msgText += "文件格式不正确，仅限 " + this.settings.fileTypeExts;
                                break;
                            default:
                                msgText += "错误代码：" + errorCode + "\n" + errorMsg;
                        }
                        layer.msg(msgText, function() {
                        });
//                        console.debug(arguments);
                    },
                    onUploadError: function(file, code, msg, errorString) {
                        console.debug(arguments);
                    },
                    onUploadSuccess: function(file, data, response) {
                        console.debug('success', arguments);
//                        return;
                        data = $.parseJSON(data);
                        if (data.status) {
                            var file_info = $.parseJSON(data.file);
                            var img_src = file_info.url;
                            //将隐藏的图片预览给显示出来
                            $('.logo-img').attr('src', img_src + '-min').show();
                            $('.logo-input').val(img_src);
                            console.debug(img_src);
                            layer.msg(data.msg, {icon: 1});
                        } else {
                            layer.msg(data.msg, {icon: 2});

                        }
                    },
                });
            });

        </script>
    </body>
</html>